// Project Primary colors
$orange: #ff7d1a;
$pale-orange: #ffede0;


// Project Neutral colors
// $very-dark-blue: #1d2025;
// $dark-grayish-blue: #68707d;
// $grayish-blue: #b6bcc8;
// $light-grayish-blue: #f7f8fd;
// $white: #ffffff;
// $black-75: #000000;


$bg-dark-blue: #1d1b67;
$bg-light-blue: #46ccde;
$bg-blue: #cdf9ff;
$text-color: #6e7c8a;
$text-color-green: #005661;
$text-black-color: #141414;
$text-grey-color: #5e6d7c;
$text-blue-color: #035863;
$border-color: #c3c3c3;


// Font family
$font-main: "Kumbh sans", sans-serif;

// Font weights
$font-w-400: 400;
$font-w-700: 700;